# Gradle & Android Studio
.gradle/
.idea/
build/
app/build/
local.properties
*.iml
*.apk
!release/arara.apk
*.aab
*.ap_
*.dex
*.idsig

# Keystore files (keep secrets safe)
keystore.properties
*.keystore
*.jks

# OS temp files
.DS_Store
Thumbs.db
google-services.json